---
import data from '../../data/data.json';
---
<section class="section">
  <div class="container">
    <h2>{data.Schedule.title}</h2>
    <p>{data.Schedule.text}</p>
  </div>
</section>


<style>
  .section {
    padding: 2rem;
  }
  p {
    margin-bottom: 1rem;
  }
</style>
