.CountdownTimer {
  display: inline-flex;
  flex-direction: column;
}
.CountdownTimer .copy {
  margin-bottom: .3rem;
}
.CountdownTimer .values {
  display: flex;
}
.CountdownTimer .values div {
  margin-right: .3rem;
}
