---
import { Sprite } from 'astro-icon';
import data from '../../data/data.json';
---
<section class="section">
  <div class="container">
    <h2>{data.About.title}</h2>
    <p>{data.About.text}</p>
    <h2>{data.About.question}</h2>
    <ul>
      {data.About.reasons.map((item) => <li><Sprite name="fa:check" size={24}/> {item}</li>)}
    </ul>
  </div>
</section>

<style>
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  ul li {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: .5rem;
  }
  li [astro-icon] {
    margin-right: .5rem;
    color: var(--color-blue-one);
  }
</style>
