---
import { Sprite } from 'astro-icon';
import i18n from '../../data/i18n/sp.json';
---
<section class="container">
  <h2>{i18n.About_title}</h2>
  <p>{i18n.About_text}</p>
  <h2>{i18n.About_question}</h2>
  <ul>
    {i18n.About_reasons.map((item) => <li><Sprite name="fa:check" size={24}/> {item}</li>)}
  </ul>
</section>

<style>
  section {
    margin-top: 5rem;
    text-align: center;
  }
  p {
    margin-bottom: 1rem;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  ul li {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: .5rem;
  }
  li [astro-icon] {
    margin-right: .5rem;
    color: var(--color-blue-one);
  }
  /* Medium only */
  @media screen and (min-width: 40em) and (max-width: 63.9375em) {
    section {
      padding: 2rem 10rem;
    }
  }

  /* Large and up */
  @media screen and (min-width: 64em) {
    section {
      padding: 2rem 10rem;
    }
  }
</style>
