---
import { Sprite } from 'astro-icon';
import Header from '../components/Header/Header.astro';
import About from '../components/About/About.astro';
import Speakers from '../components/Speakers/Speakers.astro';
import Organizer from '../components/Organizer/Organizer.astro';
import Parthers from '../components/Parthers/Parthers.astro';

const title = 'TypeScript Day';
---

<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{title}</title>

	<link rel="icon" type="image/x-icon" href="/favicon.png" />
  <link href="https://fonts.googleapis.com/css?family=Montserrat:600,700,800|Roboto:300,400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href={Astro.resolve('../styles/global.css')}>
</head>
<body>
  <Sprite.Provider>
  	<main>
  		<Header />
      <About />
      <Speakers />
      <Organizer />
      <Parthers />
  	</main>
  </Sprite.Provider>
</body>
</html>
