---
import { Sprite } from 'astro-icon';
import Header from '../components/Header/Header.astro';
import About from '../components/About/About.astro';
import Speakers from '../components/Speakers/Speakers.astro';
import Organizer from '../components/Organizer/Organizer.astro';
import Parthers from '../components/Parthers/Parthers.astro';
import Footer from '../components/Footer/Footer.astro';
import Register from '../components/Register/Register.astro';
import Schedule from '../components/Schedule/Schedule.astro';
import MetaTags from '../components/MetaTags/MetaTags.astro';

const title = 'TypeScript Day';
---

<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{title}</title>
  <MetaTags />

	<link rel="icon" type="image/x-icon" href="/favicon.png" />
  <link href="https://fonts.googleapis.com/css?family=Montserrat:600,700,800|Roboto:300,400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href={Astro.resolve('../styles/global.css')}>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-2412T478VQ"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-2412T478VQ');
  </script>
</head>
<body>
  <Sprite.Provider>
  	<main>
  		<Header />
      <About />
      <Register />
      <Speakers />
      <Schedule />
      <Organizer />
      <Parthers />
      <Footer />
  	</main>
  </Sprite.Provider>
</body>
</html>
