---
import Header from '../components/Header/Header.astro';

const title = 'TypeScript Day';
---

<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{title}</title>

	<link rel="icon" type="image/x-icon" href="/favicon.png" />
  <link href="https://fonts.googleapis.com/css?family=Montserrat:600,700,800|Roboto:300,400,700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  <link rel="stylesheet" href={Astro.resolve('../styles/global.css')}>
</head>
<body>
	<main>
		<Header />
	</main>
</body>
</html>
