---
import data from '../../data/data.json';
---
<section class="section">
  <div class="container">
    <h2>{data.Parthers.title}</h2>
    <p>{data.Parthers.text}</p>
    <div class="logos">
      {data.Parthers.logos.map((item) => <a href={item.link} target="_blank"><img src={item.logo} alt="" /></a>)}
    </div>
  </div>
</section>


<style>
  .section {
    padding: 2rem;
  }
  p {
    margin-bottom: 1rem;
  }
  .logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center
  }
  .logos img {
    max-width: 100%;
  }
</style>
