---
import { Sprite } from 'astro-icon';
import data from '../../data/data.json';
---
<section class="section section-with-bc">
  <div class="container">
    <ul class="social-media">
      {data.Footer.socialLinks.map(link => (
        <li>
          <a href={link.url} target="_blank">
            <Sprite name={link.icon} role="img" size={24}/>
          </a>
        </li>
      ))}
    </ul>
    <p><a href="" class="code">{data.Footer.code}</a></p>
    <p>{data.Footer.text}</p>

  </div>
</section>


<style>
  .social-media {
    list-style: none;
    padding: 0;
    margin: 1rem 0;
    color: white;
    display: flex;
    justify-content: center;
  }
  .social-media a {
    color: white;
    text-decoration: none;
    margin: 0 .5rem;
  }
  a.code {
    color: white;
    text-decoration: underline;
  }
  p{
    margin-bottom: .3rem;
  }
</style>
