---
import data from '../../data/data.json';
---
<section class="section section-with-bc">
  <section class="container">
    <h2>{data.Organizer.title}</h2>
    <p>{data.Organizer.text}</p>
    <div class="grid">
      {data.Organizer.videos.map((item) => <iframe width="100%" height="100%" src={item} title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>)}
    </div>
  </section>
</section>


<style>
  .section {
    padding: 5rem 2rem;
  }
  h2 {
    color: white;
  }
  p {
    margin-bottom: 1rem;
  }
  .grid {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: .8rem;
    grid-auto-rows: minmax(150px, auto);
  }
  /* Medium only */
  @media screen and (min-width: 40em) and (max-width: 63.9375em) {
    .grid {
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: minmax(200px, auto);
      grid-gap: 1rem;
    }
    .container > p  {
      padding: 0rem 10rem;
    }
  }

  /* Large and up */
  @media screen and (min-width: 64em) {
    .grid {
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: minmax(200px, auto);
      grid-gap: 1.5rem;
    }
    .container > p  {
      padding: 0rem 10rem;
    }
  }
</style>
