.RegisterForm form {
  display: flex;
}
.RegisterForm input {
  border: 0;
  padding: .8rem;
  font-size: .9rem;
  border-radius: 8px 0px 0px 8px;
}
.RegisterForm button {
  border: 0;
  padding: .5rem .8rem;
  background-color: var(--color-yellow);
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-size: .9rem;
  border-radius: 0px 8px 8px 0px;
}
.RegisterForm .feedback-message {
  margin-top: .5rem;
  font-size: .8rem;
  opacity: 0;
  transition: all .5s linear;
}
.RegisterForm .feedback-message.show{
  opacity: 1;
}
.RegisterForm .material-icons {
  font-size: .9rem;
}
